/*Generals*/

*{
    font-family: 'Poppins', sans-serif;
}

.txt-motivation{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.5em;
    color: gainsboro;
}

/*Generals Class*/
.social-media{
    margin-left: 50px;
    display: inline-block;
}

.social-media a:link, .social-media a:visited{
    color: white;
}

.social-media:hover a{
    color: rgb(84, 230, 48);
}
.social-media-horizontal{
    margin-top: 20px;
    list-style: none;
    text-align: center;
    width: 100%;
    padding-left: 0;
}
.social-media-end{
    margin-right: 50px;
}
.bio-green{
    background: rgb(84, 230, 48);
    height: 5px;
}
.bio-dark{
    background: rgb(38, 39, 37);
    color: white;
    height: fit-content;
}
.list-none{
    list-style: none;
}
/*Specifics Class*/

/*----------Navbar-----------*/
.expanding{/*Menu animate*/
    transition: height 0.5s;
    overflow: hidden;
}

.expandido{
    height: 180px;
    border-radius: 5px;
}

.contraido{
    height: 0;  
}

@media only screen and (min-width: 990px){
    .contraido{
        height: auto;  
    }
    .expandido{
        height: auto;
    }
    .social-media-horizontal{
        margin-top: 5px;
    }
    .social-media{
        margin-left: 20px;
    }
    .social-media-end{
        margin-right: 20px;
    }
}

.list-nav a:visited, .list-nav a:link{
    color: white;
}

.list-nav a:hover{
    color: rgb(84, 230, 48);;
}

.copyright{
    font-size: 0.75em;
}
